<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Заказ такси</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    h1 {text-align: center;
    }
    .col-md-5 {
         margin-left: auto;
    margin-right: auto;
        background-color: #F0F0F0;}
</style>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/taxi">Совершить заказ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">Заказы</a>
            </li>
        </ul>
    </nav>
</div>
<div class="col-md-5">
<form method="post">
<br><br>
    <h1 class="display-4">Заказать такси онлайн</h1>
    <input name="start" class="form-control" required placeholder="Откуда Вас забрать">
<br>
    <input name="finish" class="form-control" required placeholder="Конечный адрес">
<br>
<br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="type" id="Comfort" value="Comfort" checked> Комфорт
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="type" id="Comfort+" value="Comfort+"> Комфорт+
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="type" id="Business" value="Business"> Business
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="type" id="Premier" value="Premier"> Premier
        </label>
    </div>
    <hr class="mb-4">
    <h3>Дополнительная информация:</h3>
    <input type="number" name="phone" class="form-control" required placeholder="Ваш номер телефона для связи">
    <br>
    <input name="extra" class="form-control" placeholder="Дополнительные пожелания к заказу">
    <br>
    <br>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Заказать">
</form>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Выйти">
    </form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>